<!doctype html>
<html lang="en">
{% set _v = 3 %}

<head>
<meta charset="utf-8" />
<meta name="description" content="Adwaita Icon Web" />
<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">
<link rel="stylesheet" href="./base.css?v={{_v}}" />

<!-- Icon Setup -->
<link rel="preload" icon theme="adwaita"
    href="./static/adwaita.svg?v={{_v}}"
    as="image" type="image/svg+xml">

<script type="module">
import {Icon} from './static/ui/icon.js';

customElements.define('el-icon', Icon);
</script>

<!-- Bits UI Setup -->
<link rel="stylesheet" href="./static/lib/bits-ui/normalize.css?v={{_v}}">
<link rel="stylesheet" href="./static/lib/bits-ui/bits-ui.css?v={{_v}}">
<style>
    @font-face {
        /* Set UI font, Cantarell is recommended */
        font-family: bits-ui;
        src: url('./static/lib/bits-ui/font/Cantarell/Cantarell-Regular.ttf');
    }
</style>
<script defer src="./lib.js"></script>
<script defer src="./static/lib/bits-ui/bits-ui.js"></script>
<!-- / Bits UI Setup -->

<link rel="stylesheet" href="./static/lib/highlight.js/atom-one-dark.css">

<title>Adwaita Icon Web</title>
{% block head %}
{% endblock %}
</head>
<body>
{% block body %}
{% endblock %}
</body>
</html>