@font-face {
    font-family: fira-sans;
    src: url('./asset/font/Fira_Sans/FiraSans-Regular.ttf');
}

html {
    font-family: 'Fira Sans';
    line-height: 1.7;
}

body {
    margin: 0;
}

hr {
    height: 1px;
    border: 0;
    background-color: black;
}

.container {
    max-width: 1000px;
    margin: auto;
    width: 90%;
}

.row {
    width: 100%;
}

.flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.text {
    max-width: 40rem;
}

el-icon {
    display: inline-flex;
    justify-content: center;
    align-items: center;
}

a {
    text-decoration: none;
}

p {
    max-width: 50rem;
    width: 100%;
}

pre > code.hljs {
    padding: 0.5rem 1rem 0.5rem 1rem;
    border-radius: 5px;
    max-width: 50rem;
    line-height: 1.5;
    font-size: 0.8em;
    border-top-left-radius: 0;
}

code {
    font-size: 0.8em;
}

el-tag.title-block {
    box-shadow: none;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    position: relative;
    top: 1rem;
    > code {
        margin-left: 0.5rem;
        padding: 0.2rem 0.5rem;
    }
}