{% extends '_base.html' %}

{% block head %}
<link rel="stylesheet" href="index.css?v={{_v}}">
<script defer type="module" src="index.js?v={{_v}}"></script>
{% endblock %}

{% block body %}
<div id="hl1">
    <div class="container flex" style="position: relative; top: -2rem;">
        <h1 style="text-align: center;">Adwaita Icon Web <sub><el-badge>v41</el-badge></sub></h1>
        <h2 style="text-align: center;">Adwaita Symbolic Icons for HTML5</h2>
        <div class="row flex" style="font-size: 3rem; margin-top: 2rem;">
            <el-icon set="gnome" name="alarm"></el-icon>
            <el-icon set="gnome" name="ac-adapter" class="red"></el-icon>
            <el-icon set="gnome" name="auth-fingerprint"></el-icon>
            <el-icon set="gnome" name="emblem-favorite" class="red"></el-icon>
            <el-icon set="gnome" name="emoji-body"></el-icon>
        </div>
        <div class="row flex" style="margin-top: 2rem;">
            <a href="https://github.com/nitipit/adwaita-icon-web">
                <button style="font-size: 1.5rem;">Github</button>
            </a>
        </div>
    </div>
</div>
<div class="container text">
{{ markdown('index.html.md') }}
</div>
<div id="icons">
    <h2>Icons</h2>
    <el-icon-manager class="container text"></el-icon-manager>
</div>
{% endblock body %}