<!doctype html>
<html lang="en">
{% set _v = 3 %}

<head>
<meta charset="utf-8" />
<meta name="description" content="Adwaita Icon Web" />
<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">
<link rel="preload" icon theme="adwaita" href="./static/adwaita.svg?v={{_v}}" as="image" type="image/svg+xml">
<link rel="stylesheet" href="./static/template/base.css?v={{_v}}" />

<!-- Bits UI Setup -->
<link rel="stylesheet" href="./static/lib/bits-ui/normalize.css?v={{_v}}">
<link rel="stylesheet" href="./static/lib/bits-ui/bits-ui.css?v={{_v}}">
<style>
    @font-face {
        /* Set UI font, Cantarell is recommended */
        font-family: bits-ui;
        src: url('./static/lib/bits-ui/font/Cantarell/Cantarell-Regular.ttf');
    }
</style>
<script defer src="./static/lib/bits-ui/bits-ui.js"></script>
<!-- / Bits UI Setup -->

<link rel="stylesheet" href="//cdn.jsdelivr.net/gh/highlightjs/cdn-release@10.2.0/build/styles/atom-one-dark.min.css">
<script src="//cdn.jsdelivr.net/gh/highlightjs/cdn-release@10.2.0/build/highlight.min.js"></script>
<script>
hljs.initHighlightingOnLoad();
</script>

<title>Adwaita Icon Web</title>
{% block head %}
{% endblock %}
</head>
<body>
{% block body %}
{% endblock %}
</body>
</html>