<!doctype html>
<html lang="en">
{% set _v = 1 %}

<head>
<meta charset="utf-8" />
<meta name="description" content="Adwaita Icon Web" />
<link rel="icon-svg" theme="adwaita" href="/static/adwaita.svg?v={{_v}}" />
<link rel="stylesheet" href="/static/template/home.css?v={{_v}}" />

<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bits-ui@2.0.5/dist/normalize.css">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bits-ui@2.0.5/dist/bits-ui.min.css">
<style>
    @font-face {
        /* Set UI font, Cantarell is recommended */
        font-family: bits-ui;
        src: url('https://cdn.jsdelivr.net/npm/bits-ui@2.0.5/dist/font/Cantarell/Cantarell-Regular.ttf');
    }
</style>
<script defer src="https://cdn.jsdelivr.net/npm/bits-ui@2.0.5/dist/bits-ui.min.js"></script>

<title>Adwaita Icon Web</title>
<script type="module">
    import { Icon } from '/static/ui/icon.js';
    customElements.define('el-icon', Icon);
</script>
{% block head %}
{% endblock %}
</head>
<body>
{% block body %}
{% endblock %}
</body>
</html>