<!doctype html>
<html lang="en">
{% set _v = 1 %}
<head>
<meta charset="utf-8" />
<meta name="description" content="Adwaita Icon Web" />
<link rel="icon-svg" theme="adwaita" href="/static/adwaita.svg?v={{_v}}" />
<link rel="stylesheet" href="/static/template/home.css?v={{_v}}" />
<title>Adwaita Icon Web</title>
<script type="module">
import {Icon} from '/static/ui/icon.js';
customElements.define('el-icon', Icon);
</script>
</head>

<body>
<div id="icons">
{% for icon in icons %}
    <div class="grid">
        <el-icon theme="adwaita" name="{{icon}}" />
    </div>
{% endfor %}
</div>
</body>

</html>